---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Cornwells.life">
	<main class="container mx-auto px-4 py-8">
		<Card
			href="https://docs.astro.build/"
			title="Documentation"
			body="Learn how Astro works and explore the official API docs."
		/>
	</main>
</Layout>