---
export interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<div class="shadow-md rounded">
	<img src="/temp.jpg" />
	<div class="p-4">
		<h2>We went to the basketball</h2>
		<p>So much fun despite the Celtics losing, we will be back for sure!</p>
	</div>
</div>
