---
import { contentfulClient } from "../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { Document } from "@contentful/rich-text-types";
import MyCarousel from "./MyCarousel";
import dayjs from 'dayjs';

interface BlogPost {
    title: string,
    entry: Document,
	  media: any
    happenedOn: string
}

const entries = await contentfulClient.getEntries<BlogPost>({
  content_type: "blog",
});

---

<div class="grid grid-cols-1 gap-6 md:grid-cols-2">
  {entries.items.sort((p, c) => dayjs(p.fields.happenedOn).isBefore(dayjs(c.fields.happenedOn)) ? 1 : -1).map((item, idx) => (
    <section class="shadow-lg p-4 bg-white drop-shadow-xl rounded-sm">
      <div class="flex justify-between">
        <h2>{item.fields.title}</h2>
      </div>
	    <MyCarousel idx={idx} items={item.fields.media} client:only>
		  </MyCarousel>
      <p class="text-xs">{dayjs(item.fields.happenedOn).format('DD MMM YY')}</p>
	  <article class="py-2" set:html={documentToHtmlString(item.fields.entry)}></article>
    </section>
  ))}
</div>
