---
import { contentfulClient } from "../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { Document } from "@contentful/rich-text-types";
import MyCarousel from "./MyCarousel";

interface BlogPost {
    title: string,
    entry: Document,
	media: any
}

const entries = await contentfulClient.getEntries<BlogPost>({
  content_type: "blog",
});

---

<div class="font-body">
  {entries.items.map((item, idx) => (
    <section class="shadow-lg p-4 my-4 bg-white drop-shadow-xl rounded-sm">
      <h2 class="text-xl font-semibold">{item.fields.title}</h2>
	  
	  <article class="py-2" set:html={documentToHtmlString(item.fields.entry)}></article>
    </section>
  ))}
</div>
