---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display:wght@400;600&display=swap" rel="stylesheet">
		<link rel="icon" type="image/png" href="/cornwells-in-boston-website-favicon-black.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>	
		<header class="shadow-sm p-2 flex place-content-between">
			<h1 class="font-headings text-3xl md:text-5xl lg:text-6xl my-auto mx-auto text-white">Cornwells in Boston</h1>
			<img src="/cornwells-in-boston-website-favicon-color.png" class="h-24 md:h-32 lg:h-48" />
		</header>
		<slot />
		
	</body>
</html>
<style is:global>
	:root {

	}
	html {
		font-family: 'Great Vibes', cursive;
		font-family: 'Playfair Display', serif;
		color: black;
		background-color: #528265;
	}
</style>
